# -*- coding: utf-8 -*-
import os

db_config = {
    'type': 'mysql',
    'host': 'localhost',
    'db': 'vimman',
    'user': 'root',
    'passwd': '',
    'port': 3306,
    'unix_socket': '/var/lib/mysql/mysql.sock'
}

Config = {
    'DATABASE_URL': os.environ.get('DATABASE_URL')
}
